
/* .node--type-trove-story-web-story {

} */

.node--type-trove-story-web-story .field--name-field-tsws-story-hero {
    max-height: 600px;
    overflow: hidden;
    
}

.node--type-trove-story-web-story .field--name-field-tsws-story-hero .field--type-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.node--type-trove-story-web-story .field--name-field-tsws-story-hero .field--type-image img {
    width: 100%;
    height: auto;
}

/* .node--type-trove-story-web-story article {
    
} */

.node--type-trove-story-web-story article .story-grid {
    width: 1160px;
    margin: 4rem auto 0rem auto;
    display: grid;
    grid-template-columns: 1fr 15rem;
    column-gap: 7rem;
}

.node--type-trove-story-web-story article .story-grid .story-content {
    padding: 0;
}

.node--type-trove-story-web-story article .story-grid .story-side {
    padding: 4rem 0rem 0rem 0rem;
}

.node--type-trove-story-web-story article .story-grid .story-side .story-title {
    margin: 0 0 0 0;
    padding: 0 0 0 0.5rem;
    color: #008944;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 700;
}

.node--type-trove-story-web-story article .story-grid .story-side .story-author {
    font-weight: 700;
    font-size: 1.5rem;
    color: #4A4A4A;
    padding-left: 0.5rem;
    line-height: 1.8rem;
    margin-top: 0.5rem;
}

.node--type-trove-story-web-story article .story-grid .story-side .story-date {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding-left: 0.5rem;
    margin-top: 0.4rem;
}

.node--type-trove-story-web-story article .story-grid .story-side .story-category {
    margin: 1.2rem 0rem 1rem 0rem;
}

.node--type-trove-story-web-story article .story-grid .story-side .story-category span {
    display: inline-block;
    font-family: "Source Serif Variable", serif;
    color: #2D004B;
    border: 2px solid #2D004B;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    line-height: 0.9rem;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
}

.node--type-trove-story-web-story article .story-grid .story-side .story-share-links {
    padding-top: 0.8rem;
    padding-left: 0.5rem;
}

.node--type-trove-story-web-story article .story-grid .story-side .story-share-links .share-links-title {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 0.8rem;
}

.node--type-trove-story-web-story article .story-grid .story-side .story-share-links .share-links-row {
    display: flex;
}

.node--type-trove-story-web-story article .story-grid .story-side .story-share-links .share-links-row a {
    margin-left: 1.5rem;
}

.node--type-trove-story-web-story article .story-gallery-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.node--type-trove-story-web-story article .story-gallery-modal.show {
    display: flex;
}

.node--type-trove-story-web-story article .story-gallery-modal .story-gallery-modal-inner {
    width: 80%;
    /* height: 50%; */
    background-color: black;
}

.node--type-trove-story-web-story article .story-gallery-modal .story-gallery-modal-inner img {
    width: 100%;
}

.modalFade { 
    animation: modalFade .3s linear;
}

@keyframes modalFade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;	
	}
}

.node--type-trove-story-web-story article .story-images {
    /* margin: 4rem auto 0rem auto; */
    /* height: 500px; */
    /* padding: 5rem 0rem 0rem 15rem; */
    /* margin: 0 auto;
    width: 1160px; */
    position: relative;
    overflow-x: hidden;
}

.node--type-trove-story-web-story article .story-images .story-slider-wrapper {
    overflow-x: hidden;
    height: 400px;
    position: relative;
    background-color: #eee;
    opacity: 0;
    transition: opacity 0.7s;
}

.node--type-trove-story-web-story article .story-images .story-slider-wrapper.show {
    opacity: 1;
}

.node--type-trove-story-web-story article .story-images .story-gallery-button {
    position: absolute;
    z-index: 1;
    top: 180px;
    width: 24px;
    height: 24px;
    border: 0;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    -webkit-box-shadow: 1px 2px 11px 1px rgba(0,0,0,0.39); 
    box-shadow: 1px 2px 11px 1px rgba(0,0,0,0.39);
}

.node--type-trove-story-web-story article .story-images .story-gallery-button.left { /* note this is INSIDE wrapper and the right button is outside it so they align */
    left: 5%;
    background-image: url(../images/left-arrow-blue.svg);
}

.node--type-trove-story-web-story article .story-images .story-gallery-button.right {
    right: 5%;
    background-image: url(../images/right-arrow-blue.svg);
}

.node--type-trove-story-web-story article .story-images .story-gallery-button.right.hide,
.node--type-trove-story-web-story article .story-images .story-gallery-button.left.hide {
    display: none;
}

.node--type-trove-story-web-story article .story-images .story-slider-wrapper .story-gallery-slider { /* this one moves */
    display: flex;
    position: absolute;
    left: 0;
    background-color: #eee;
    transition: left 0.5s;
}

.node--type-trove-story-web-story article .story-images .story-slider-wrapper .story-gallery-slider .story-gallery-slide {
    cursor: pointer;
}

