.troveStoriesPage { /* body class */

}

.troveStoriesPage .wrapper {
    max-width: 1440px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

/** confirmation page styling **/

.troveStoriesPage .webform-confirmation {
    width: 45vw;
    margin: 7rem auto 7rem auto;
    background-color: #ffbd4c;
    padding: 4rem 4rem 3rem 4rem;
}

.troveStoriesPage .webform-confirmation .webform-confirmation__message {
   font-size: 20px;
   text-align: center;
   font-weight: 600;
}

/***** RESPONSIVE ********************************************************/
/*********************DESKTOP FIRST**************************************/

@media only screen and (max-width : 1020px) {
    .troveStoriesPage .footer .footer-middle .container .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .troveStoriesPage .webform-confirmation { 
        width: 90vw;
    }
}

@media only screen and (max-width : 785px) {
    .troveStoriesPage .header .header-bottom .container .row {
        margin-right: 0px;
        margin-left: 0px;
    }
}



/* .troveStoriesFade { 
    animation: troveStoriesFade .3s linear;
}

@keyframes troveStoriesFade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;	
	}
} */

/**** general admin area ****/


/**** admin area fixing bootstrap/adminimal css bugs ****/



/* .troveStoriesPage .region-messages {
    justify-content: center;
}

.troveStoriesPage .region-messages .messages__wrapper {
    text-align: center;
    margin: 40px auto 40px auto;
}

.troveStoriesPage table.sticky-header thead {
    top: auto;
}

.troveStoriesPage.adminimal .messages--status { 
    background-color: #fff;
}

.troveStoriesPage.adminimal nav.is-horizontal.is-collapsible.position-container.is-horizontal-enabled ul.tabs.primary {
    margin-left: 0;
    margin-right: 0;
} */

