
#trove-stories-gallery {
    width: 1160px;
    margin: 0 auto;
}

#trove-stories-gallery #trove-stories-gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6rem;
    min-height: 40rem;
}

#trove-stories-gallery .searchBox {
    margin-bottom: 4rem;
    border-bottom: 4px solid black;
    box-sizing:content-box;
    position: relative;
}

#trove-stories-gallery .searchBox input#trove-stories-searchbox {
    border: 0;
    padding: 0 0 0 1rem;
    margin: 0 0 0 0;
    width: 100%;
    font-family: "Source Sans Pro";
    font-size: 1.5rem;
    font-weight: 300;
    height: 4rem;
    line-height: 3rem;
}

#trove-stories-gallery .searchBox button.clearSearch {
    position: absolute;
    right: 1.5rem;
    top: 1.09rem;
    border: 0;
    background-image: url(../images/cross.svg);
    background-color: #eee;
    background-color: transparent;
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    display: none;
}

#trove-stories-gallery .searchBox button.clearSearch:hover {
    border: 1px solid #444;
}

#trove-stories-gallery .searchBox button.clearSearch span {
    display: none;
}

#trove-stories-gallery .searchBox button.clearSearch.show {
    display: block;
}

#trove-stories-gallery .searchBox input#trove-stories-searchbox::placeholder {
    font-style: italic;
    color: #535353;
}

/* #trove-stories-gallery #trove-stories-gallery-list .masonry-col1 {
    
}

#trove-stories-gallery #trove-stories-gallery-list .masonry-col2 {
    
}

#trove-stories-gallery #trove-stories-gallery-list .masonry-col3 {
    
} */

#trove-stories-gallery #trove-stories-gallery-list .storyItem {
    margin-bottom: 3rem;
}

#trove-stories-gallery #trove-stories-gallery-list .storyItem a {
    display: block;
    text-decoration: none;
}

#trove-stories-gallery #trove-stories-gallery-list .storyItem a img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0.9rem;
}

#trove-stories-gallery #trove-stories-gallery-list .storyItem a h2.storyItemTitle {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
    font-size: 1.3rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 0.6rem;
}

#trove-stories-gallery #trove-stories-gallery-list .storyItem .colorBar {
    height: 4px;
    width: 70%;
    transition: width 0.2s;
}

#trove-stories-gallery #trove-stories-gallery-list .storyItem:hover .colorBar {
    width: 100%;
}

#trove-stories-gallery #trove-stories-gallery-list .storyItem .colorBar.green {
    background-color: #008944;
}
#trove-stories-gallery #trove-stories-gallery-list .storyItem .colorBar.blue {
    background-color: #61B7F9;
}
#trove-stories-gallery #trove-stories-gallery-list .storyItem .colorBar.yellow {
    background-color: #FFBD4C;
}
#trove-stories-gallery #trove-stories-gallery-list .storyItem .colorBar.red {
    background-color: #C0286F;
}
#trove-stories-gallery #trove-stories-gallery-list .storyItem .colorBar.orange {
    background-color: #FF733E;
}
#trove-stories-gallery #trove-stories-gallery-list .storyItem .colorBar.purple {
    background-color: #6338C2;
}

#trove-stories-gallery .stories-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#trove-stories-gallery .stories-footer button#trove-stories-load-more {
    line-height: 0.5rem;
    margin-top: 1rem;
}

#trove-stories-gallery .stories-footer button#trove-stories-load-more.hide {
    display: none;
}

.troveStoriesFade { 
    animation: troveStoriesFade .3s linear;
}

@keyframes troveStoriesFade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;	
	}
}

/************* RESPONSIVE *********************************/


@media only screen and (max-width : 1200px) {
    #trove-stories-gallery {
        width: auto;
        margin: 0 2rem;
    }

    #trove-stories-gallery #trove-stories-gallery-list {
        column-gap: 3vw;
    }
}

@media only screen and (max-width : 650px) {
    #trove-stories-gallery #trove-stories-gallery-list {
        display: block;
    }

    /* #trove-stories-gallery #trove-stories-gallery-list .masonry-col1 {
        
    } */

    #trove-stories-gallery #trove-stories-gallery-list .masonry-col2 {
        display: none;
    }

    #trove-stories-gallery #trove-stories-gallery-list .masonry-col3 {
        display: none;
    }
}