.troveStoriesPage { /* body class */

}

.troveStoriesPage .wrapper {
    max-width: 1440px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

/** confirmation page styling **/

.troveStoriesPage .webform-confirmation {
    width: 45vw;
    margin: 7rem auto 7rem auto;
    background-color: #ffbd4c;
    padding: 4rem 4rem 3rem 4rem;
}

.troveStoriesPage .webform-confirmation .webform-confirmation__message {
   font-size: 20px;
   text-align: center;
   font-weight: 600;
}

/** banner styling - used on gallery AND form page. **/
.troveStoriesPage .story-banner {
    display: grid;
    grid-template-columns: 1fr 613px;
    grid-template-rows: 540px;
    margin-bottom: 3rem;
}



.troveStoriesPage .story-banner .banner-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbd4c;
}

.troveStoriesPage .story-banner .banner-left .banner-content {
    padding-left: 10vw;
}

.troveStoriesPage .story-banner .banner-left .banner-content h1 {
    margin: 0;
    padding: 0;
    font-family: "Source Serif Variable", serif;
    font-size: 60px;
    font-weight: 600;
}

.troveStoriesPage .story-banner .banner-left .banner-content p {
    margin: 25px 5vw 25px 0px;
    font-size: 1.3rem;
}

.troveStoriesPage .story-banner .banner-left .banner-content p strong {
    font-weight: 500;
}

.troveStoriesPage .story-banner .banner-right {
    background-image: url(../images/banner-book.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
}

.troveStoriesPage .story-banner .banner-right .bannerGoblet svg {
    display: block;
    height: 540px;
    width: auto;
}



/***** RESPONSIVE ********************************************************/
/*********************DESKTOP FIRST**************************************/


@media only screen and (max-width : 1300px) {

    .troveStoriesPage .story-banner {
        grid-template-columns: 1fr 413px;
    }

    .troveStoriesPage .story-banner .banner-right {
        background-position: top left;
    }
}


@media only screen and (max-width : 1020px) {
    .troveStoriesPage .footer .footer-middle .container .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .troveStoriesPage .webform-confirmation { 
        width: 90vw;
    }
}

@media only screen and (max-width : 990px) {

    .troveStoriesPage .story-banner .banner-left .banner-content h1 {
        font-size: 2.75rem;
        padding-top: 1rem;
    }

    .troveStoriesPage .story-banner .banner-left .banner-content p {
        font-size: 1rem;
    }

    .troveStoriesPage .story-banner {
        grid-template-rows: 410px;
    }

    .troveStoriesPage .story-banner .banner-right .bannerGoblet svg {
        height: 410px;
    }
}

@media only screen and (max-width : 860px) {
    .troveStoriesPage .story-banner {
        grid-template-columns: 1fr 250px;
    }
}

@media only screen and (max-width : 785px) {
    .troveStoriesPage .header .header-bottom .container .row {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media only screen and (max-width : 680px) {
    .troveStoriesPage .story-banner {
        display: block;
    }

    .troveStoriesPage .story-banner .banner-right {
        height: 55vw;
        background-position: center center;
        background-size: cover;
    }

    .troveStoriesPage .story-banner .banner-right .bannerGoblet {
        display: none;
    }
}





/**** general admin area ****/


/**** admin area fixing bootstrap/adminimal css bugs ****/



/* .troveStoriesPage .region-messages {
    justify-content: center;
}

.troveStoriesPage .region-messages .messages__wrapper {
    text-align: center;
    margin: 40px auto 40px auto;
}

.troveStoriesPage table.sticky-header thead {
    top: auto;
}

.troveStoriesPage.adminimal .messages--status { 
    background-color: #fff;
}

.troveStoriesPage.adminimal nav.is-horizontal.is-collapsible.position-container.is-horizontal-enabled ul.tabs.primary {
    margin-left: 0;
    margin-right: 0;
} */

