
.trove-stories-form {

}

/**** header / banner *****************/

.trove-stories-form .story-banner {
    display: grid;
    grid-template-columns: 1fr 613px;
    grid-template-rows: 596px;
    margin-bottom: 3rem;
}

.trove-stories-form .story-banner .banner-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbd4c;
}

.trove-stories-form .story-banner .banner-left .banner-content {
    padding-left: 10vw;
}

.trove-stories-form .story-banner .banner-left .banner-content h1 {
    margin: 0;
    padding: 0;
    font-family: "Source Serif Variable", serif;
    font-size: 60px;
    font-weight: 600;
}

.trove-stories-form .story-banner .banner-left .banner-content p {
    margin: 25px 5vw 25px 0px;
    font-size: 1.3rem;
    /* font-weight: 300; */
}

.trove-stories-form .story-banner .banner-left .banner-content p strong {
    font-weight: 500;
}

.trove-stories-form .story-banner .banner-right {
    background-image: url(../images/banner-book.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
}

.trove-stories-form .story-banner .banner-right .bannerGoblet svg {
    display: block;
    height: 596px;
    width: auto;
}




/**** form *****************/

.trove-stories-form .hidden-submit {
    display: none;
}

.trove-stories-form .recaptchaInvalid {
    display: none;
    background-color: rgb(145, 59, 59);
    color: #fff;
}

.trove-stories-form .recaptchaInvalid.show {
    display: inline-block;
}

.trove-stories-form .text-count-message {
    color: #6d6d6d;
}

.trove-stories-form .js-form-wrapper,
.trove-stories-form .js-webform-flexbox,
.trove-stories-form .js-form-item {
    max-width: 47.5vw;
    margin: 0 auto;
    padding-right: 11vw;
    margin-bottom: 2rem;
}

.trove-stories-form label {
    font-family: Source Sans Variable, system-ui, Segoe UI, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333333;
}

.trove-stories-form .js-form-item-tswf-how-you-use-trove {
    margin-bottom: 4rem;
}

.trove-stories-form .js-form-item-tswf-how-you-use-trove label {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333333;
}

.trove-stories-form .js-form-item-tswf-intro-message {
    color: #333333;
    margin-bottom: 2.3rem;
}

.trove-stories-form .js-form-item-tswf-intro-message h2 {
    font-family: Source Sans Variable, system-ui, Segoe UI, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/** links table overrides ******/

.trove-stories-form .js-form-item-tswf-links {

}

.trove-stories-form .js-form-item-tswf-links .table-responsive {
    display: block;
    width: auto;
    overflow-x: visible;
}

.trove-stories-form .js-form-item-tswf-links .table-responsive .tableresponsive-toggle-columns {
    display: none;
}

.trove-stories-form .js-form-item-tswf-links [id^="edit-tswf-links-items"] {
    display: block;
    margin: 0;
}

.trove-stories-form .js-form-item-tswf-links [id^="edit-tswf-links-items"] thead {
    display: none;
}

.trove-stories-form .js-form-item-tswf-links [id^="edit-tswf-links-items"] tbody {
    display: block;
}

.trove-stories-form .js-form-item-tswf-links [id^="edit-tswf-links-items"] tbody tr {
    display: block;
}

.trove-stories-form .js-form-item-tswf-links [id^="edit-tswf-links-items"] tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.trove-stories-form .js-form-item-tswf-links [id^="edit-tswf-links-items"] tbody tr td {
    display: block;
    padding: 0;
    border: 0;
}

.trove-stories-form .js-form-item-tswf-links [id^="edit-tswf-links-items"] tbody tr td .js-form-item {
    max-width: none;
    margin: 0;
    padding: 0;
    margin: 0.5rem 0 0.5rem 0;
    position:relative;
}

.trove-stories-form .js-form-item-tswf-links [id^="edit-tswf-links-items"] tbody tr td .js-form-item.urlpass:after {
    content: url(../images/check_circle_green.svg); 
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0.7rem;
    top: 0.4rem;
}

.trove-stories-form .js-form-item-tswf-links [id^="edit-tswf-links-items"] tbody tr td .js-form-item.urlfail:after {
    content: url(../images/check_circle_red.svg); 
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0.7rem;
    top: 0.4rem;
}

.trove-stories-form .js-form-item-tswf-links [id^="edit-tswf-links-add-submit"] {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: auto;
    font-size: 0.8rem;
    line-height: 0.6rem;
}

.trove-stories-form #edit-tswf-about-message * { /*HTML message, all children get stripped */
    font-family: Source Sans Variable, system-ui, Segoe UI, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: #333333;
    padding: 0;
    margin: 0;
}

.trove-stories-form .js-webform-flexbox .js-form-item {
    max-width: none;
    margin: 0;
    padding: 0;
    margin: 0.5rem 0 0.5rem 0;
}

.trove-stories-form [class*="js-form-item-tswf-upload-images-file-"] {
    max-width: none;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
}

.trove-stories-form [class*="js-form-item-tswf-upload-images-file-"]:nth-of-type(1) {
    margin-top: 0.3rem;
}

.trove-stories-form [class*="js-form-item-tswf-upload-images-file-"] .js-form-file {
    margin-bottom: 1rem;
}

.trove-stories-form [class*="js-form-item-tswf-upload-images-file-"] .fa-stack {
    display: none; /* gotta hide this messy stuff */
}

.trove-stories-form [class*="js-form-item-tswf-upload-images-file-"] .file--image {
    font-weight: 400; 
    font-size: 1rem;
}

.trove-stories-form [class*="js-form-item-tswf-upload-images-file-"] .form-check-label {
    display: flex;
    align-items: center;
    padding: 0.1rem 0rem 0.1rem 0rem;
}

.trove-stories-form [class*="js-form-item-tswf-upload-images-file-"] .form-check-label > label {
    margin: 0;
}

.trove-stories-form [class*="js-form-item-tswf-upload-images-file-"] .form-check-label .form-check-input {
    position: relative;
    margin: 0rem 0.5rem 0rem 0rem;
    display: block;
}

.trove-stories-form [id^='edit-tswf-upload-images-remove-button'] {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: auto;
    font-size: 0.8rem;
    line-height: 0.6rem;
    margin: 0.3rem 0rem 0.5rem 0rem;
}

.trove-stories-form [id^='edit-tswf-upload-images-remove-button']:disabled {
    background-color: #2d004b;
    border-color: #2d004b;
    background-color: #2d004b;
}

.trove-stories-form [id^='edit-tswf-upload-images-remove-button']:disabled:hover {
    color: #fff !important;
    /* background-color: #015aad;
    border-color: #0154a0; */
}

.trove-stories-form #edit-flexbox.js-webform-flexbox {
    display: grid; /* let chaos reign */
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.trove-stories-form .js-webform-flexbox .webform-flex--container {
    margin: 0rem 0rem 0rem 0rem;
}

.trove-stories-form .alert-wrapper {
    max-width: 47.5vw;
    margin: 0 auto;
    padding-right: 11vw;
    margin-bottom: 2rem;
}

.trove-stories-form .alert-wrapper .alert-warning {
    
}

.trove-stories-form .alert-wrapper .alert-warning > span {
    display: none; /** small close button but does nothing */
}

/***** RESPONSIVE ********************************************************/
/*********************DESKTOP FIRST**************************************/

@media only screen and (max-width : 1300px) {

    .trove-stories-form .story-banner {
        grid-template-columns: 1fr 413px;
    }

    .trove-stories-form .story-banner .banner-right {
        background-position: top left;
    }

    .trove-stories-form .js-form-wrapper, 
    .trove-stories-form .js-webform-flexbox, 
    .trove-stories-form .js-form-item {
        max-width: 70vw;
    }
}

@media only screen and (max-width : 990px) {

    .trove-stories-form .story-banner .banner-left .banner-content h1 {
        font-size: 2.75rem;
        padding-top: 1rem;
    }

    .trove-stories-form .story-banner .banner-left .banner-content p {
        font-size: 1rem;
    }

    .trove-stories-form .story-banner {
        grid-template-rows: 410px;
    }

    .trove-stories-form .story-banner .banner-right .bannerGoblet svg {
        height: 410px;
    }

    .trove-stories-form .js-form-wrapper, 
    .trove-stories-form .js-webform-flexbox, 
    .trove-stories-form .js-form-item {
        max-width: 80vw;
        padding-right: 0;
    }
    
}

@media only screen and (max-width : 860px) {
    .trove-stories-form .story-banner {
        grid-template-columns: 1fr 250px;
    }

    .trove-stories-form .alert-wrapper {
        max-width: none;
        padding-right: 0;
    }
    
}

@media only screen and (max-width : 680px) {
    .trove-stories-form .story-banner {
        display: block;
    }

    .trove-stories-form .story-banner .banner-right {
        height: 55vw;
        background-position: center center;
        background-size: cover;
    }

    .trove-stories-form .story-banner .banner-right .bannerGoblet {
        display: none;
    }

    .trove-stories-form .js-form-item-tswf-how-you-use-trove label {
        font-size: 2rem;
        line-height: 2.1rem;
    }

    .trove-stories-form .js-form-item-tswf-intro-message h2 {
        font-size: 2rem;
        line-height: 2.1rem;
    }

    .trove-stories-form .js-form-item-tswf-links [id^="edit-tswf-links-items"] tbody tr {
        padding: 0;
    }

}

