{{ attach_library('trove_stories/trove_stories_gallery_page') }}

<div id="trove-stories-gallery">
    <input placeholder="Search Trove Stories Gallery" id="trove-stories-searchbox" type="text">

    <div id="trove-stories-gallery-list">
        {# list here. #}

        <div class"masonry-col1"></div>
        <div class"masonry-col2"></div>
        <div class"masonry-col3"></div>
    </div>

    <button id="trove-stories-load-more">Load more</button>
</div>