<div>
    HELLO. this is the trove stories gallery page.
    {# <h1>{{ title }}</h1>
  <ul>
    {% for key, value in data %}
      <li><strong>{{ key }}:</strong> {{ value }}</li>
    {% endfor %}
  </ul> #}
</div>