{% if user.isAuthenticated() %}
    {% if user.hasPermission('trove_editor') %}
        <div class="storiesTitleAlert">
            This webform area has extended functionality implemented by the <i>Trove Stories</i> module. 
            See Trove Stories 
            <a target="_blank" href="/admin/config/system/trove_stories">settings</a>
            and <a target="_blank" href="/admin/config/system/trove_stories">help</a> for more details.
        </div>
    {% endif %}
{% endif %}